<main>

    <!-- <a class="btnlogin" routerLink="/admin"> admins </a> -->
    <!-- Login y Registro -->
    <div class="Fondo">
        <div class="container">

            <div class="form-content">
                <h1> REGISTRO </h1>
                <form [formGroup]="formularioRegistro" (ngSubmit)="handleSubmit()">
                    
                    <div class="input-group">
                        <div class="input-field">
                            <i class="fa-solid fa-user"></i>
                            <input type="number" name="codigo" formControlName="codigo" placeholder="codigo del empleado.">
                        </div>
                        <div class="input-field">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" name="nombre" formControlName="nombre" placeholder="nombre">
                        </div>
                        <div class="input-field">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="text" name="apellido1" formControlName="apellido1" placeholder="apellido1">
                        </div>
                        <div class="input-field">
                            <i class="fa-solid fa-lock"></i>
                            <input type="text" name="apellido2" formControlName="apellido2" placeholder="apellido2">
                        </div>
                        <div class="input-field">
                            <i class="fa-solid fa-lock"></i>
                            <input type="number" name="codigo_departamento" formControlName="codigo_departamento" placeholder="codigo del departamento">
                        </div>
                    </div>
                    <div class="btn-field">
                        <button id="signUp" routerLink="/" type="submit" class="btn">CONTRATAR</button>
                     </div>
                </form>
            </div>
        </div>
    </div>
</main>

